<h1 style="font-family: kawaii-en;color: #984063"><span data-i18n="skills.my_skills">About Me</span></h1>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">

<div style="font-family: cute-en">
    Thank you so much for patronizing my blog!
    I'm Bufan Zheng ( 郑卜凡 ), currently studying at Wuhan University, School of Physics and Technology.
    My current research interests are in high energy theoretical physics (hep-th) and related mathematical physics. In addition to math and physics, I am also interested in computers and have learned a number of programming languages, and the creation of this website has been a process of learning the front end of the web.
    Let's dog-paddle in the sea of knowledge.
</div>