<style>
  /*默认样式*/
  .contentl{
    display: flow-root;
    float: left;
  }
  .contentr{
    display: flow-root;
    float: right;
  }
  /*移动设备样式*/
  @media only screen and (max-width: 600px) {
    .contentl{
      display: block;
      text-align: center;
      float: none;
    }
    .contentr{
      display: block;
      text-align: center;
      float: none;
    }
  }
</style>
{% if page.previous %}
<a href="{{page.previous.url}}" class="contentl">
  上一篇： {{page.previous.title}}
</a>
{% endif %}
{% if page.next %}
<a href="{{page.next.url}}" class="contentr">
  下一篇： {{page.next.title}}
</a>
{% endif %}