---
layout: default
---

{% for post in site.posts %}
<!--实现博客置顶，但是是不分页的情况，而且循环两次，还可以优化应该-->
{% if post.top == true %}
<section class="post">
  <header class="post-header">
    <p class="post-meta">
      <span class="post-date">
        Pinned
      </span>
      <!--注释掉，因为push到云端会有问题，懒得折腾site文件夹
      {% if page.last_modified_at and page.last_modified_at != page.date %}
      <span>
          • Modified at
          {{ page.last_modified_at | date: '%d %B %Y' }}
        </span>
      {% endif %}
      -->
      {% if post.categories.size > 0 %}
      •
      {% for cat in post.categories %}
        <a class="post-cat" href="{{ site.url }}/categories/#{{ cat }}">{{ cat }}</a>
        {% unless forloop.last %}
        <span>/</span>
        {% endunless %}
      {% endfor %}
      {% endif %}
    </p>
    <h4>
      <a href="{{ site.url }}{{ post.url }}" class="post-title" title="{{ post.title }}">{{ post.title }}</a>
      {% if post.link %}
      <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-external-link"></i></a>
      {% endif %}
    </h4>

    {% if post.author %}
      {% assign author = site.data.authors[post.author] %}
      {% if author.link %}
     <p>By <a href="{{ author.link }}">{{ author.name }}</a></p>
      {% else %}
          <p>By {{ author.name }}</p>
      {% endif %}
    {% else %}
      {% assign author = site.owner %}
       <p>By <a href="{{ site.url }}">{{ author.name }}</a></p>
    {% endif %}

    </header>

    {% if post.excerpt %}
    <div class="post-description">
      <p>
        {{ post.excerpt }}
      </p>
    </div>
    {% endif %}

    {% if post.image.feature %}
    <div class="post-image-feature">
      <img src=
      {% if post.image.feature contains 'http' %}
      "{{ post.image.feature }}"
      {% else %}
      "{{ site.url }}/img/{{ post.image.feature }}"
      {% endif %}
      alt="{{ post.title }} feature image">

      {% if post.image.credit %}
      <span class="image-credit">Photo Credit: <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></span>
      {% endif %}
    </div><!-- /.image-wrap -->
    {% endif %}

</section>
{% endif %}
{% endfor %}

{% for post in site.posts %}
<!--下面是不置顶博客-->
{% if post.top != true %}
<section class="post">
  <header class="post-header">
    <p class="post-meta">
      <span class="post-date">
        Posted at
        {{ post.date | date: "%-d %b %Y" | upcase }}
      </span>
      <!--注释掉，因为push到云端会有问题，懒得折腾site文件夹
      {% if page.last_modified_at and page.last_modified_at != page.date %}
      <span>
          • Modified at
          {{ page.last_modified_at | date: '%d %B %Y' }}
        </span>
      {% endif %}
      -->
      {% if post.categories.size > 0 %}
      •
      {% for cat in post.categories %}
      <a class="post-cat" href="{{ site.url }}/categories/#{{ cat }}">{{ cat }}</a>
      {% unless forloop.last %}
      <span>/</span>
      {% endunless %}
      {% endfor %}
      {% endif %}
    </p>
    <h4>
      <a href="{{ site.url }}{{ post.url }}" class="post-title" title="{{ post.title }}">{{ post.title }}</a>
      {% if post.link %}
      <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-external-link"></i></a>
      {% endif %}
    </h4>

    {% if post.author %}
    {% assign author = site.data.authors[post.author] %}
    {% if author.link %}
    <p>By <a href="{{ author.link }}">{{ author.name }}</a></p>
    {% else %}
    <p>By {{ author.name }}</p>
    {% endif %}
    {% else %}
    {% assign author = site.owner %}
    <p>By <a href="{{ site.url }}">{{ author.name }}</a></p>
    {% endif %}

  </header>

  {% if post.excerpt %}
  <div class="post-description">
    <p>
      {{ post.excerpt }}
    </p>
  </div>
  {% endif %}

  {% if post.image.feature %}
  <div class="post-image-feature">
    <img src=
                 {% if post.image.feature contains 'http' %}
    "{{ post.image.feature }}"
    {% else %}
    "{{ site.url }}/img/{{ post.image.feature }}"
    {% endif %}
    alt="{{ post.title }} feature image">

    {% if post.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></span>
    {% endif %}
  </div><!-- /.image-wrap -->
  {% endif %}

</section>
{% endif %}
{% endfor %}
